In [3]:
9000 # everything in python is a object

9000

In [4]:
type(9000) # type = represents the data type og the object

int

In [5]:
job_title = "Data Analyst"
job_salary = 90000
my_print_function = print

In [6]:
print(job_title)

Data Analyst

In [7]:
'''pip install ipykernel'''

'pip install ipykernel'

In [8]:
my_print_function(job_salary, job_title)

90000 Data Analyst

In [9]:
# each variable has unique identifier or unique memory location , untile if variable is assigned to another varibale like x=y

id(job_salary), id(job_title)

(4606795664, 4607604272)

In [10]:
x = 9000
y = 9000
id(x), id(y)

(4606795248, 4606796816)

In [11]:
x = 9.9
y = x
id(x), id(y)

(4524981872, 4524981872)

In [12]:
y

9.9

In [13]:
x = 10
print(y)

id(x), id(y)

9.9

(4313130600, 4524981872)

## Functions: The Manipulators of Objects
### perform tasks that can be applied to different sets of data.

In [14]:
print("What's up, Data Nerds!")

What's up, Data Nerds!

In [15]:
def greet():
    return "What's up, Data Nerds!"

In [36]:
print('Ravi: '+ greet())
print('ram:' + greet())

Ravi: What's up, Data Nerds!
ram:What's up, Data Nerds!

In [17]:
def display_info(title, location, salary):
    return print(f"JOB: {title}\nLOCATION: {location}\nSALARY: ${salary:,.0f}")

In [18]:
job_title = "Data Analyst"
job_location = "United States"
job_salary = 90000

display_info(job_title, job_location, job_salary)

JOB: Data Analyst
LOCATION: United States
SALARY: $90,000

In [19]:
job_title2 = "Data Scientist"
job_location2 = "United States"
job_salary2 = 100000

In [20]:
# here foe keyword agrumenst we have to maintain order.

display_info(job_title2, job_location2, job_salary2)

JOB: Data Scientist
LOCATION: United States
SALARY: $100,000

## Classes: The Template of Objects

A templete for creating records.

In [21]:
class JobPost:
    def __init__(self, title, location, salary):
        self.title = title
        self.location = location
        self.salary = salary

    def display_info(self):
        return print(f"JOB:       {self.title}\nLOCATION:  {self.location}\nSALARY:    ${self.salary:,.0f}")

In [ ]:
display_info('new',' data', 7000,)

JOB: new
LOCATION:  data
SALARY: $7,000

In [29]:
title

NameError: name 'title' is not defined

In [32]:
JobPost

__main__.JobPost

In [33]:
job = JobPost("Data Engineer", "New York, NY", 425000)

In [34]:
print(job)

<__main__.JobPost object at 0x112a7ee10>

In [35]:
job.title, job.salary

('Data Engineer', 425000)