In [83]:
base_salary = 90000

### Varibales can cahange type fater initial declaration.

In [84]:
bonus_rate = 0.2
total_salary = base_salary * (1+bonus_rate)

total_salary= round(total_salary, 4)
total_salary

108000.0

In [85]:
type(total_salary)

float

In [86]:
job_id = 101
company_name = 'DataWiz Inc.'
job_title = 'Data Analyst'
job_salary = 125000
job_work_from_home = True

## Data TYpes

In [87]:
job_title = 'Data Analyst'
remove_word = 'Data'

In [88]:
x = job_title +  remove_word
x

'Data AnalystData'

Types Common in Data Analytics
We'll mainly focus on the most common ones in data analytics:

Text Type: str
   Numeric Types: int, float
     Sequence Types: list, tuples
     Mapping Type: dict
        Set Types: set

In [89]:
print(type(job_id))
print(type(company_name))
print(type(job_title))
print(type(job_work_from_home))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [90]:
isinstance(job_id, float)

False

In [91]:
isinstance(company_name, str)

True

In [92]:
isinstance(job_id, str)

False

In [95]:
job_id = float(102)
job_id

102.0

In [ ]:
int(job_id)  #   int(job_id ) changes to int but it is not assigned to it;s varible
print(job_id)
type(job_id)

102.0

float

In [101]:
job_id = int(job_id)
print(job_id)
type(job_id)

102

int