In [1]:
"This is a string in double quotes"

'This is a string in double quotes'

In [2]:
'This is a string in double quotes'

'This is a string in double quotes'

In [3]:
skill = "Python"
type(skill)

str

In [4]:
skill.upper()

'PYTHON'

In [5]:
skill.lower()

'python'

In [6]:
skill.replace("P", "J")

'Jython'

In [ ]:
job_title = "Data Analyst"

print(job_title.split(sep=" ", maxsplit=1))

type(job_title)

['Data', 'Analyst']

str

## 
Magic Methods (aka Dunder Methods)

In [10]:
str.__add__("Data", " Analyst")

'Data Analyst'

In [16]:
"Data".__add__(" Analyst")

'Data Analyst'

In [25]:
'Data' +  ' Analyst'

'Data Analyst'

In [26]:
skill.__len__()

6

In [27]:
print(len(skill))

6

## String Formating

In [28]:
role = 'Data Analyst'
skill = 'Python'

In [31]:
'Role: ' + role

'Role: Data Analyst'

In [32]:
'Role: %s, Skill required: %s' % (role, skill)

'Role: Data Analyst, Skill required: Python'

In [33]:

f'Role: {role}, Skill required: {skill}'

'Role: Data Analyst, Skill required: Python'

In [34]:
'Role: {role}, Skill required: {skill}'.format(
    role="Data ", skill="SQL")

'Role: Data , Skill required: SQL'

Using join()
The join() method is useful for concatenating iterable items (e.g., strings, lists) into a single string, often separated by a specified character.

In [42]:


skills = ['Python', 'SQL']
'Role: ' + role + ', Skills required: ' + ', '.join(skills)

'Role: Data Analyst, Skills required: Python, SQL'

In [43]:
years_expeirence = "0123456789"

'- '.join(years_expeirence)

'0- 1- 2- 3- 4- 5- 6- 7- 8- 9'