In [1]:
"What's up? " * 10

"What's up? What's up? What's up? What's up? What's up? What's up? What's up? What's up? What's up? What's up? "

In [2]:
"What's " + "up?"

"What's up?"

In [3]:
"What's up" - "up"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
5 // 2
5 % 2

In [4]:
print("5 divided by 2 is", 5 // 2, "with a remainder of", 5 % 2)

5 divided by 2 is 2 with a remainder of 1

In [5]:
x = 1
y = 2

x, y = y, x # swap values

print("x is now: ", x)
print("y is now: ", y)

x is now:  2
y is now:  1

In [7]:
x = 2 # let's increment x by 1

x = x + 1 # not pythonic

x

3

In [8]:

x = 2

x += 2 # pythonic

x

4

In [9]:
1 == 1 # evaluates to True or False

True

# Conditinal Statements

In [25]:
applicant_skill = 'SQL'
job_skill = 'a'
years_experience = 5

In [32]:
if applicant_skill == job_skill and years_experience < 2:
    result = 'Junior Data Analyst position.'
elif applicant_skill == job_skill or years_experience <= 5:
    result = 'Mid-level Data Analyst position.'
elif applicant_skill == job_skill or years_experience > 5:
    result = 'Senior Data Analyst position.'
else:
    result = 'No Match Found'

result

'Mid-level Data Analyst position.'

In [30]:
if applicant_skill == job_skill:
    print(True)
else:
    False

In [33]:
if applicant_skill != job_skill:
    result = 'Skills still needed'
elif applicant_skill== job_skill and years_experience < 2:
    result = 'More experience needed'
else:
    result = 'Experience matches!'

# Print the result
result

'Skills still needed'