## LIst

In [1]:
job_skills = ['sql','tableau','excel']
job_skills

['sql', 'tableau', 'excel']

In [2]:
job_skills[1]

'tableau'

In [3]:
job_skills[1] = 'Python' # delets the index value and adds python.
job_skills

['sql', 'Python', 'excel']

In [4]:
job_skills.append('sql')
job_skills

['sql', 'Python', 'excel', 'sql']

In [5]:
job_skills.insert(1, 'tableau') ## adds value to location and change indexs og others
job_skills

['sql', 'tableau', 'Python', 'excel', 'sql']

In [6]:
job_skills.remove('excel')

job_skills

['sql', 'tableau', 'Python', 'sql']

In [7]:
job_skills.pop[]

SyntaxError: invalid syntax (158183075.py, line 1)

In [8]:
skills1 = ['SQL', 'Tableau']
skills2 = ['Excel']

skills3 = skills1 + skills2
skills3

['SQL', 'Tableau', 'Excel']

In [9]:
skills4 = ['Python', 'Power BI']

# Append all items from skills3 to skills4 list
for x in skills3:
    skills4.append(x)

skills4

['Python', 'Power BI', 'SQL', 'Tableau', 'Excel']

In [10]:
skills5 = ['Statistics', 'Machine Learning']

skills5.extend(skills4)

skills5

['Statistics',
 'Machine Learning',
 'Python',
 'Power BI',
 'SQL',
 'Tableau',
 'Excel']

In [11]:
print('I have these skills: ' +  ', '.join(skills4))

I have these skills: Python, Power BI, SQL, Tableau, Excel

In [12]:
skills5[:]

['Statistics',
 'Machine Learning',
 'Python',
 'Power BI',
 'SQL',
 'Tableau',
 'Excel']

In [13]:
skills5[-3:]

['SQL', 'Tableau', 'Excel']

## Dict : key vslue pairs, unordered,  mutable, duplicate by values but not keys ; keys are unique.

In [14]:
job_type_skills = {
    'database': 'postgresql',
    'language': 'python',
    'library': 'pandas'
}

job_type_skills['language']

'python'

In [15]:
job_type_skills.get('language')

'python'

In [16]:
job_type_skills.values()

dict_values(['postgresql', 'python', 'pandas'])

In [17]:
job_type_skills.keys()

dict_keys(['database', 'language', 'library'])

In [18]:
job_type_skills.items()

dict_items([('database', 'postgresql'), ('language', 'python'), ('library', 'pandas')])

In [19]:
job_type_skills.pop('library')

'pandas'

In [20]:
job_type_skills

{'database': 'postgresql', 'language': 'python'}

In [21]:
job_type_skills['framework'] = 'flask'
job_type_skills['database'] = 'sql'

job_type_skills

{'database': 'sql', 'language': 'python', 'framework': 'flask'}

In [22]:
job_type_skills['Programming'] = 'python'
job_type_skills

{'database': 'sql',
 'language': 'python',
 'framework': 'flask',
 'Programming': 'python'}

In [23]:
job_type_skills.update({'cloud': 'google cloud', 'version_control': 'git'})

# Return dictionary
job_type_skills

{'database': 'sql',
 'language': 'python',
 'framework': 'flask',
 'Programming': 'python',
 'cloud': 'google cloud',
 'version_control': 'git'}

In [24]:
job_type_skills.update({'language': ['r', 'python']})

job_type_skills

{'database': 'sql',
 'language': ['r', 'python'],
 'framework': 'flask',
 'Programming': 'python',
 'cloud': 'google cloud',
 'version_control': 'git'}

## Sets : unordered, unique(no duplicates), mutable, no index

In [25]:
job_skills = {'tableau', 'sql', 'python', 'statistics'}

job_skills

{'python', 'sql', 'statistics', 'tableau'}

In [28]:
job_skills[1]

TypeError: 'set' object is not subscriptable

In [29]:
job_skills.add('r')
job_skills

{'python', 'r', 'sql', 'statistics', 'tableau'}

In [30]:
job_skills.remove('r')

job_skills

{'python', 'sql', 'statistics', 'tableau'}

In [31]:
## can used to remove duplicates as it is unique no duplicates

skill_list = ['python', 'sql', 'statistics', 'tableau', 'python', 'sql', 'statistics', 'tableau']

set(skill_list)

{'python', 'sql', 'statistics', 'tableau'}

In [32]:
skill_list = list(set(skill_list))

skill_list

['tableau', 'statistics', 'sql', 'python']

## Tuples : fixed ; immitable , ordered, index, allow duplicates.

In [33]:
job_skills = ('python', 'sql', 'statistics', 'tableau', 'sql')
job_skills

('python', 'sql', 'statistics', 'tableau', 'sql')

In [34]:
job_skills[0]

'python'

In [36]:
job_skills.append('R')

AttributeError: 'tuple' object has no attribute 'append'

In [37]:
# instead We can do this

job_skills_list = list(job_skills)
job_skills_list.append('R')
print(job_skills)
job_skills = tuple(job_skills_list)
job_skills

('python', 'sql', 'statistics', 'tableau', 'sql')

('python', 'sql', 'statistics', 'tableau', 'sql', 'R')

In [38]:
job_skills_new = ('java', 'aws')
job_skills += job_skills_new
job_skills

('python', 'sql', 'statistics', 'tableau', 'sql', 'R', 'java', 'aws')

In [39]:
skills.remove('Excel')

NameError: name 'skills' is not defined

In [41]:
del job_skills_new

In [44]:
range(0 , 10)

range(0, 10)

In [43]:
range(10)

range(0, 10)

In [48]:
num = tuple(range(5))
num

(0, 1, 2, 3, 4)

In [49]:
set(range(
    10
))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [50]:
list(range(1,100,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]