In [1]:
job_status_luke = False
job_status_kelly = True

# Do both Luke and Kelly have jobs?
job_status_luke and job_status_kelly
False

False

In [2]:
job_status_luke = not True

job_status_luke

False

In [3]:
salary_kelly = 100_000
salary_luke = 100_000

salary_kelly is salary_luke

False

In [4]:
lukes_skills = ['Python', 'R', 'SQL']
kellys_skills = lukes_skills

lukes_skills is kellys_skills

True

In [5]:
'Data' in 'Data Nerd'

True

In [6]:
True | False

True

### Loops

In [7]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(number)

1
2
3
4
5

In [9]:
count = 1
while count <= 5:
    print(count)
    count += 1
1

1
2
3
4
5

1

In [10]:
total_positions = 3
position_index = 0

# Minimum years of experience required for each data science job position
position_experience_requirements = [1, 3, 2]
while position_index < total_positions:
    print('Position requires', position_experience_requirements[position_index], 'years of experience.')
    position_index += 1

Position requires 1 years of experience.
Position requires 3 years of experience.
Position requires 2 years of experience.

In [13]:
user_years_of_experience = 3

while position_index < total_positions:
    required_years = position_experience_requirements[position_index]
    if user_years_of_experience >= required_years:
        print('Qualified')
    else:
        print('Not qualified')
    position_index += 1

In [17]:
roles = ['Data Scientist', 'Machine Learning Engineer']
skills = ['Python', 'SQL', 'Machine Learning']

for role in roles:
    print(f'For the role of {role}, you need experience in:')
    for skill in skills:
        print(f'  - {skill}')

For the role of Data Scientist, you need experience in:
  - Python
  - SQL
  - Machine Learning
For the role of Machine Learning Engineer, you need experience in:
  - Python
  - SQL
  - Machine Learning

TypeError: string indices must be integers, not 'str'