In [14]:
# Sum, Min, Max
data_scientist_salaries = [95000, 120000, 105000, 90000, 130000]
total_salary = sum(data_scientist_salaries)
min_salary = min(data_scientist_salaries)
max_salary = max(data_scientist_salaries)
print(f'Total Salary: ${total_salary}, Min: ${min_salary}, Max: ${max_salary}')

Total Salary: $540000, Min: $90000, Max: $130000

In [15]:
years_experience = [2, 5, 3, 4, 1]
sorted_experience = sorted(years_experience)
sorted_experience

[1, 2, 3, 4, 5]

In [16]:
def calculate_salary(base_salary, bonus_rate):

  total_salary = base_salary * (1 + bonus_rate)

  return total_salary

In [17]:
calculate_salary(80000, 0.3)

104000.0

In [18]:
def calculate_salary(base_salary, bonus_rate=.1):

  total_salary = base_salary * (1 + bonus_rate)

  return total_salary

In [19]:
calculate_salary(70000, 0.3)

91000.0

In [20]:
print(calculate_salary(90000))

99000.00000000001

In [21]:
salary_1 = 100000
rate_1 = 0.5

calculate_salary(salary_1, rate_1)

150000.0

In [22]:
def analyze_skills(skill1, salary1, skill2, salary2):

    print('Job Title and Average Salary Analysis:')
    print(f'- {skill1}: ${salary1:,}')
    print(f'- {skill2}: ${salary2:,}')

# Calling the function with job titles and their average salaries as arguments
analyze_skills(skill1='Data Analyst', salary1=60000, skill2='Business Analyst', salary2=65000)

Job Title and Average Salary Analysis:
- Data Analyst: $60,000
- Business Analyst: $65,000

In [23]:
def analyze_skills(*args):
    
    print('Job Title and Average Salary Analysis:')
    for skill_salary_pair in args:
        skill, salary = skill_salary_pair
        print(f'- {skill}: ${salary:,}')

# Calling the function with tuples of job titles and their average salaries
analyze_skills(('Data Analyst', 60000), ('Business Analyst', 65000), ('Data Engineer', 90000))

Job Title and Average Salary Analysis:
- Data Analyst: $60,000
- Business Analyst: $65,000
- Data Engineer: $90,000

In [24]:
def analyze_skills(**skills_salaries):
    print('Skill and Average Salary Analysis:')
    for skill, salary in skills_salaries.items():
        print(f'- {skill}: ${salary:,}')

# Calling the function with keyword arguments for skills and their average salaries
analyze_skills(Data_Analyst=60000, Business_Analyst=65000, Data_Engineer=90000)

Skill and Average Salary Analysis:
- Data_Analyst: $60,000
- Business_Analyst: $65,000
- Data_Engineer: $90,000

### lamda

In [26]:
add = lambda x, y: x + y

In [28]:
add(3,7)

10

In [30]:
salary_list = [100000, 200000, 150000, 120000, 80000, 750000]

def calculate_salary(base_salary, bonus_rate=.1):
  return base_salary * (1 + bonus_rate)
total_salary_list = [calculate_salary(salary) for salary in salary_list]
total_salary_list

[110000.00000000001,
 220000.00000000003,
 165000.0,
 132000.0,
 88000.0,
 825000.0000000001]

In [37]:
total_salary_list = [(lambda x : x *(1.1))(salary) for salary in salary_list]
total_salary_list

[110000.00000000001,
 220000.00000000003,
 165000.0,
 132000.0,
 88000.0,
 825000.0000000001]

In [41]:
total_salary_list = [salary * 1.1 for salary in salary_list]

total_salary_list

[110000.00000000001,
 220000.00000000003,
 165000.0,
 132000.0,
 88000.0,
 825000.0000000001]

In [43]:
jobs_data = [
    {'job_title': 'Data Scientist',  'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst',  'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statistics'], 'remote': False}
]

In [44]:
list(filter(lambda job: job['remote'], jobs_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Keras'],
  'remote': True},
 {'job_title': 'Software Developer',
  'job_skills': ['Java', 'C++'],
  'remote': True}]

In [40]:
add = lambda a, b: a + b
print(add(3, 5))
print (add(4,5))  # Output: 8

8
9

In [39]:
print (add(4,5))

9

In [45]:
%%writefile my_module.py

skill_list = ['Python', 'SQL', 'Excel']

Writing my_module.py

In [46]:
import my_module

my_module.skill_list

['Python', 'SQL', 'Excel']

In [49]:
%%writefile job_analyzer.py

# Call the function from the module
def calculate_salary(base_salary, bonus_rate=.1):
  
  return base_salary * (1 + bonus_rate)

def calculate_bonus(total_salary, base_salary):
  
  return (total_salary - base_salary) / base_salary

Overwriting job_analyzer.py

In [52]:
import job_analyzer

job_analyzer.calculate_bonus(100000, 90000)

0.1111111111111111

In [53]:
import sys
print(sys.builtin_module_names)

('_abc', '_ast', '_codecs', '_collections', '_functools', '_imp', '_io', '_locale', '_operator', '_signal', '_sre', '_stat', '_string', '_symtable', '_thread', '_tokenize', '_tracemalloc', '_typing', '_warnings', '_weakref', 'atexit', 'builtins', 'errno', 'faulthandler', 'gc', 'itertools', 'marshal', 'posix', 'pwd', 'sys', 'time')